<!-- property of icesvk -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<script src="{{ url_for('static', filename='scripts/utils.js') }}"></script>

<title>slope.bot</title>

<div class="center">
    <div id="title">
        <a href="/" class="hidden">slope.bot</a>
    </div>

    <div id="links">
        <a href="/commands">[commands]</a>
        <a href="/apply">[apply]</a>
    </div>
</div>

<div id="footer">
    <a>bot is active, sales & applications closed</a>
</div>